//@import url(http://fonts.googleapis.com/css?family=Roboto:200,400,600,800);
@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600,900);

@include border-box-sizing; // uses border box sizing like old IE


//$shorthand: 12 1/4 fluid float inside;

$susy: (
  columns: 12,  // The number of columns in your grid
  container: 60em,   
  gutters: 1/4, 
  gutter-position: inside, 
);

$narrowscreen: 400px;
$standartscreen: 650px;
$smallscreen: max-width 650px;
$mediumscreen: 650px 960px;
$widescreen: 1200px;


// $blue   : #064642;
// $green  : #45B29D;
// $yellow : #EFC94C;
// $orange : #E27A3F;
// $red    : #DF4848;
// $pink   : #CD0069;
// $purple : #6C71C4;
// $dark   : #000000;
// $light  : #FFFFFF;

$blue   : #246E0C;
$green  : #0C1C05;
$yellow : #E3E1C1;
$orange : #EC4E17;
$red    : #E21E3A;
$pink   : #CD0069;
$purple : #6C71C4;
$dark   : #000000;
$light  : #FFFFFF;
$darrk : #0C1C05;




$backgroundColor : $light;
$typeDefault     : $dark;
$navBackground   : $blue;
$navForeground   : $light;
$navHover        : $yellow;
$navBrandBg      : $red;
$headersubbg     : $dark;

//Font variables

$fontfamily : 'Titillium Web', 'Helvetica Neue', Helvetica, Arial,  sans-serif;

$thin : 200;
$normal : 400;
$bold : 600;
$heavy : 800;


$headFont : $thin 1.5em/1.5em $fontfamily;
$mainFont : $thin 1em/1.5em $fontfamily;
$headColor: lighten($blue,20);

//Breakpoint variables
$narrow: 400px;
$small: 650px;
$medium: 960px;
$wide: 1200px;