footer
{
	@include container(100%);

	background: $darrk;
	padding:30px 0;

	#socialmedia
	{
		text-align: center;

		ul 
		{
			list-style-type: none;

			li 
			{
				display: inline-block;
				padding: 0 10px;

				img 
				{
					width: 30px;
					@include border-radius(50%);
				}
			}
		}
	}
}