#hotelinfo
{
	@include background-image(linear-gradient(top, darken($purple, 20), green));
	color: $light;

	#{headings()}
	{
		color: $light;
	}

	.heading
	{
			h1
			{
				font-size: 3em;
				font-weight: $thin;

			}
	}

	#usefulinfo	
	{
		@include clearfix;
		section
		{
			@include breakpoint($standartscreen)
			{
				@include span(1 of 3);
			}

			@include breakpoint($narrowscreen $standartscreen)
			{
				&.checklist
				{
					@include span(1 of 2);
				}
			}

			h2
			{
				color: lighten($purple, 20);
				font-size: 1.3em;
				line-height: 110%;
				padding: 10px 0;
			}

			p
			{
				font-size: 1em;
				line-height: 130%;
			}

			ul 
			{
				list-style-type: square;
				margin-left: 10%;
				line-height: 115%;
				margin-bottom: 5px;
			}
		}//section

		section#arrivalinfo
		{
			ul 
			{
				margin: 0;

				li 
				{
					list-style-type: none;
					border-top: 1px solid $light;
					padding: 15px 0;
					margin-left: 0;

					strong
					{
						color: $yellow;
					}

					&:first-child
					{
						border-top: none;
					}
				}//li
			}//ul

		}//section
	}//usefulinfo

	#greenprogram
	{
		background-color: rgba(darken($green, 30), .5);
		margin-top: 20px;

		@include breakpoint($widescreen)
		{
			@include background-image(url('../images/misc/greenplanet.png'));
			background-size: 400px;
			background-repeat: no-repeat;
			background-position: 120% center;
			padding-right: 300px;
		}//breakpoint

		border: 1px solid $light;
		padding: 20px;
		@include border-radius(20px);
	}//greenprogram

}//hotelinfo